@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    background: #FFFFFF;
}

.container {
    margin: 0 auto;
    width: 1050px;
}

.main-container {
    flex-grow: 1;
}
.page-container {
    width: 1200px;
    margin: 0 auto;
}

/*Pages*/
.page-header {
    display: flex;
    padding: 0 70px;
    color: #000000;
    background: #FFFFFF;
}

.navigation {
    display: flex;
}

.navigation-list {
    width: 520px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navigation-user {
    max-width: 300px;
    margin-left: auto;
}

.navigation-link {
    font: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: inherit;
    background-color: #FFFFFF;
    text-align: center;
    text-decoration: none;
}

.navigation-link--button {
    font: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #756157;
    border-radius: 4px;
} 

/*main*/
.welcom {
    background-color: #deb887;
    background-image: url(../images/index-background.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto;
    text-align: center;
}

.sedona-description {
    margin: 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;

    text-align: center;
    text-transform: uppercase;
}

.sedona-description-reasons {
    margin: 0;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    line-height: 26px;

    color: #333333;
    background-color: #FFFFFF;

    text-align: center;
}

/*advantages*/
.advantages-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.advantages-wrapper--header {
    width: 655px;
    margin: 0 auto;
    padding: 63px 290px 90px 273px;
}
.advantages-wrapper {
    display: flex;
    text-align: center;
    color: #FFFFFF;
    background: #82B3D3;
}

.advantages-wrapper--first {
    flex-basis: 400px;
    padding: 92px 85px;
}

.advantage-name {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    text-align: center;
    text-transform: uppercase;
}

.advantage-name--color {
    color: #FFFFFF;
    background: #82B3D3;
}

.advantage-numder {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.first-advantage-description {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}
/*advantages-first-list*/
.advantages-first-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}


.advantages-first-name {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    text-align: center;
    text-transform: uppercase;
}

.advantages-first-description {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    text-align: center;
}

.advantages-first-item {
    width: 400px;
    padding: 80px 85px;
}

.advantages-item {
    width: 400px;
    padding: 103px 82px;
}

.advantages-item--home {
    background: rgba(131, 179, 211, 0.12);;
}

.advantages-item--food {
    background: #FFFFFF;
}

.advantages-item--souvenirs {
    background: rgba(131, 179, 211, 0.12);
}

/*second-advantage*/
.second-advantage {
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    color: #FFFFFF;
    background-color: #82B3D3;
}

.advantages-list--other {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}



.advantages-item {
    text-align: center;
}

.advantages-name {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;

    text-transform: uppercase;
}

.advantage-number {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

}

.advantages-description {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.advantages-item--square {
    background: rgba(131, 179, 211, 0.12);
}

.advantages-item--road {
    background: rgba(131, 179, 211, 0.2);
}

.advantages-item--tourists {
    background: rgba(131, 179, 211, 0.12);
}

/*hotel-search*/
.hotel-search {
    color: #000000;
    background: #FFFFFF;
    text-align: center;
}

.hotel-search-title {
    margin: 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;

    text-transform: uppercase;
}

.hotel-search-description {
    margin: 0;
    padding: 29px 304px 56px;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;

    color: #333333;
    background: #FFFFFF;
}
.hotel-search-button {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;

    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    background: #756157;
}

/*subscribe*/
.subscribe {
    color: #FFFFFF;
    background: #82B3D3;
    background-image: url("../images/background-subscribe.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto;

    text-align: center;
}

.subscribe-title {
    margin: 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;

    text-transform: uppercase;
}

.subscribe-description {
    margin: 0;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}

.subscribe-button {
    font: inherit;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;

    text-transform: uppercase;

    color: #FFFFFF;
    background: #82B3D3;
    border-radius: 0px 10px 10px 0px;
}

/*footer*/
.page-footer {
    vertical-align: center;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;

    color: #000000;
    background-color: #FFFFFF;
    text-align: center;
}

.page-footer-container {
    display: flex;
    width: 1050px;
    margin: 0 auto;
    margin-left: 72px;
}

.footer-social-list {
    display: flex;
    justify-content: space-between;
    width: 116px;
    margin: 0;
    margin-left: 52px;
    padding: 0;
    list-style: none;
}

.footer-contacts-phone {
    width: 720px;
    margin-left: 52px;
    font: inherit;
    text-decoration: none;
    color: #000000;
}

.footer-academy-link {
    width: 115px;
}

.footer-social-list {
    text-align: left;
}
/*catalog.html*/

.inner-header {
    color: #FFFFFF;
    background-color: #82B3D3;
    background-image: url("../images/background-catalog.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto;
}

.inner-header-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
}
/*breadcrumbs*/
.breadcrumbs {
    list-style: none;
    color: #FFFFFF;
}

.breadcrumbs-link {
    font: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: inherit;
    text-decoration: none;
}

.catalog-filter-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
}

.control {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}
.button-blue {
    font: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;

    color: #FFFFFF;
    background: #82B3D3;
    border-radius: 4px;

    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.button-reset {
    font: inherit;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: #FFFFFF;
    background-color: transparent;

    text-align: center;
}

/*Результаты поиска*/
.search-results {
    color: #000000;
    background-color: #ffffff;
}
.hotels-found {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;

    color: #000000;
    background-color: #ffffff;


    text-transform: uppercase;
}

/*Карточки товаров*/
.hotel-card-list {
    list-style: none;
}

.hotel-card-link {
    text-decoration: none;
}

.hotel-card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.hotel-type-in-card {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #333333;
}
.button-brown {
    font: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    background: #756157;
}

.hotel-price {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #333333;
}

.hotel-rating {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: #333333;
}

.button-green {
    font: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;

    color: #FFFFFF;
    background: #7DB54F;
    border-radius: 4px;

    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

/*Пагинация*/
.pagination {
    list-style: none;
    background-color: #FFFFFF;
}

.pagination-link {
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;

    color: #FFFFFF;
    background-color: #82B3D3;

    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.pagination-current {
    color: #000000;
    background-color: #F2F2F2;
}

.number-of-hotels-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;

    color: #333333;
}

/*Подписка на рассылку*/

.subscribe {
    padding: 94px 200px;
}
.catalog-subscribe {
    color: #000000;
    background-image: none;
    background-color: #FFFFFF;
}

.subscribe-description--catalog {
    color: #333333;
}