@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


html {
  height: 100%;
}

img {
  max-width: 100%;

  object-fit: contain;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  background: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.main-container {
  flex-grow: 1;
}


/*Pages*/
.page-header {
  display: flex;
  padding: 0 70px;
  color: #000000;
  background: #FFFFFF;
}

.navigation {
  display: flex;
}

.navigation-logo {
  width: 139px;
  margin-right: 30px;
  margin-bottom: -10px;
  z-index: 1;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 520px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  display: flex;
  align-items: center;
  justify-content: end;
  max-width: 300px;
  margin-left: auto;
}

.navigation-user .navigation-link {
  min-width: 18px;
  min-height: 18px;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 17px 20px;
  font: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: inherit;
  background-color: #FFFFFF;
  text-align: center;
  text-decoration: none;
}

.navigation-link:hover,
.navigation-link:focus {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.navigation-item--current {
  position: relative;
}

.navigation-link-index--current::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 17px;
  width: 68px;
  height: 2px;
  background-color: #756257;
}

.navigation-link-catalog--current::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 17px;
  width: 93px;
  height: 2px;
  background-color: #756257;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.navigation-icon--favorite {
  position: relative;
  margin-right: 20px;
}

.navigation-icon--favorite::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 20px;
  width: 20px;
  height: 20px;
  background-image: url(../images/number.svg);
  background-repeat: no-repeat;
}

.navigation-link--button {
  padding: 9px 15px 8px 15px;
  font: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #756157;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
}


/*main*/
.welcom {
  position: relative;
  padding-top: 51px;
  padding-bottom: 82px;
  margin-bottom: 25px;
  background-color: #deb887;
  background-image: url(../images/index-background.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;
  text-align: center;
}

.welcom-image {
  vertical-align: middle;
}

.welcom::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-image: url("../images/vector.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

.sedona-description {
  margin: 0;
  margin-bottom: 31px;
  padding-top: 63px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;

  text-align: center;
  text-transform: uppercase;
}

.sedona-description-reasons {
  margin: 0;
  padding-bottom: 90px;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
  line-height: 26px;

  color: #333333;
  background-color: #FFFFFF;

  text-align: center;
}

/*advantages*/
.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages-wrapper--header {
  width: 655px;
  margin: 0 auto;

}

.advantages-wrapper {
  display: flex;
  text-align: center;
  color: #FFFFFF;
  background: #82B3D3;
}

.advantages-wrapper--first {
  flex-basis: 400px;
  padding: 92px 85px;
}

.advantage-name {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

  text-align: center;
  text-transform: uppercase;
}

.advantage-name--color {
  color: #FFFFFF;
  background: #82B3D3;
}

.advantage-number {
  display: block;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.first-advantage-description {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

/*advantages-first-list*/
.advantages-first-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}


.advantages-first-name {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

  text-align: center;
  text-transform: uppercase;
}


.advantages-first-description {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  text-align: center;
}

.advantages-first-item {
  width: 400px;
  padding: 182px 85px 80px;
}

.advantages-item {
  width: 400px;
  padding: 103px 82px;
}

.advantages-item--home {
  background-image: url(../images/home.svg);
  background-repeat: no-repeat;
  background-position: 162px 80px;

  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item--food {
  background-image: url(../images/food.svg);
  background-repeat: no-repeat;
  background-position: 162px 80px;

  background-color: #FFFFFF;
}

.advantages-item--souvenirs {
  background-image: url(../images/souvenirs.svg);
  background-repeat: no-repeat;
  background-position: 162px 80px;

  background-color: rgba(131, 179, 211, 0.12);
}

/*second-advantage*/
.second-advantage {
  display: flex;
  flex-direction: row-reverse;
  text-align: center;
  color: #FFFFFF;
  background-color: #82B3D3;
}

.image-order {
  order: 1;
}

.advantages-list--other {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}



.advantages-item {
  text-align: center;
}

.advantages-name {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

  text-transform: uppercase;
}

.advantage-number {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

}

.advantages-description {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.advantages-item--square {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item--road {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-item--tourists {
  background: rgba(131, 179, 211, 0.12);
}

/*hotel-search*/
.hotel-search {
  padding-bottom: 93px;
  color: #000000;
  background: #FFFFFF;
  text-align: center;
}

.hotel-search-title {
  margin: 0;
  margin-bottom: 29px;
  padding-top: 91px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;

  text-transform: uppercase;
}

.hotel-search-description {
  margin: 0;
  padding: 29px 304px 56px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;

  color: #333333;
  background: #FFFFFF;
}

.hotel-search-button {
  margin-bottom: 93px;
  padding: 12px 150px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background: #756157;
}

.select-control {
  width: 287px;
  height: 48px;
  padding: 0 50px 5px 18px;

  font: inherit;
  font-size: 18px;
  line-height: 23px;

  background-color: inherit;
  background-image: url("../images/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 18px center;
  border: 2px solid #e6e6e6;
  border-radius: 4px;

  -webkit-appearance: none;
          appearance: none;
}

.select-control:hover,
.select-control:focus,
.select-control:focus-visible {
  border-color: #83b3d3;
  outline: none;
}

.select-control:active {
  color: rgba(51, 15, 15, 0.3);

  border-color: #e5e5e5;
}

.sorting-type {
  margin-right: 83px;
}

/*subscribe*/
.subscribe {
  padding: 94px 200px;
  color: #FFFFFF;
  background: #82B3D3;
  background-image: url("../images/background-subscribe.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto;

  text-align: center;
}

.subscribe-title {
  margin: 0;
  margin-bottom: 29px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;

  text-transform: uppercase;
}

.subscribe-description {
  margin: 0;
  margin-bottom: 46px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.subscribe-email {
  width: 600px;
  margin: 0;
  padding: 20px 22px;
  font: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  border: none;
  background: #F2F2F2;
  border-radius: 10px 0px 0px 10px;
}

.subscribe-email:hover,
.subscribe-email:focus {
  box-shadow: inset 0 0 1px 1px #deb887;
}

/*footer*/
.page-footer {
  padding: 40px 72px 30px;
  vertical-align: middle;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;

  color: #000000;
  background-color: #FFFFFF;
  text-align: center;
}

.page-footer-container {
  display: flex;
  width: 1050px;
  margin: 0 auto;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 116px;
  margin: 0;
  margin-left: 52px;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  margin-right: 26px;
}

.footer-social-item:nth-child(3n) {
  margin-right:0 ;
}

.footer-social-link--vk {
  width: 24px;
  height: 14px;
}

.vk path:hover,
.vk path:focus {
  fill: #68A2CA;
}

.vk path:active {
  opacity: 0.3;
}



.footer-social-link--telegram {
  width: 18px;
  height: 17px;
}

.telegram path:hover,
.telegram path:focus {
  fill: #68A2CA;
}

.telegram path:active {
  opacity: 0.3;
}

.footer-social-link--youtube {
  width: 22px;
  height: 17px;
}

.youtube path:hover,
.youtube path:focus {
  fill: #68A2CA;
}

.youtube path:active {
  opacity: 0.3;
}

.footer-contacts-phone {
  width: 720px;
  font: inherit;
  text-decoration: none;
  color: #000000;
}

.footer-contacts-phone:hover,
.footer-contacts-phone:focus {
  color: #756157;
}

.footer-contacts-phone:active {
  opacity: 0.3;
}

.footer-academy-link {
  width: 115px;
  margin-left: auto;
}

.footer-academy-link:hover path,
.footer-academy-link:focus path {
  fill: #756157;
}

.footer-academy-link:active path {
  opacity: 0.3;
}

.footer-social-list {
  text-align: left;
}

/*catalog.html*/



.inner-header {
  margin-bottom: 50px;
  padding: 35px 70px 70px 70px;
  color: #FFFFFF;
  background-color: #82B3D3;
  background-image: url("../images/background-catalog.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 100%;
}

.inner-header-title {
  margin: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

/*breadcrumbs*/
.breadcrumbs {
  display: flex;
  justify-content: space-between;
  width: 113px;
  position: relative;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style-type: none;
  color: #FFFFFF;
}

.breadcrumbs-item--actions:hover,
.breadcrumbs-item--actions:focus {
  opacity: 0.6;
}

.breadcrumbs-item--actions:active {
  opacity: 0.3;
}

.breadcrumbs-link {
  font: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: inherit;
  text-decoration: none;
}

.breadcrumbs-link--arrow::before {
  content: "";
  position: absolute;
  top: 13px;
  left: 25px;
  width: 6px;
  height: 8px;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
}

/* форма */
.catalog-filter {
  display: flex;
}

.filter-group {
  margin: 0;
  padding: 0;
  border: 0;
}

.filter-group--facilites {
  width: 162px;
  margin-right: 70px;
}

.filter-group--type {
  width: 145px;
  margin-right: 175px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: #FFFFFF;
  width: 162px;
  margin-bottom: 30px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 15px;
}


.control {
  position: relative;
  display: block;
  padding-left: 40px;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 4px;
}

.control-mark--radio {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 50%;
}




.control-input[type="checkbox"]:hover + .control-mark,
.control-input[type="radio"]:hover + .control-mark--radio {
  opacity: 60%;
}

.control-input[type="checkbox"]:focus + .control-mark,
.control-input[type="radio"]:focus + .control-mark--radio,
.control-input[type="radio"]:focus-visible + .control-mark--radio {
  outline: 3px solid #83b3d3;
}

.control-input[type="checkbox"]:active + .control-mark {
  outline: none;
  opacity: 30%;
}

.control-input[type="checkbox"]:checked + .control-mark::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 4px;

  width: 13px;
  height: 10px;

  background-image: url("../images/check-mark.svg");
}


.control-input[type="radio"]:checked + .control-mark--radio::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;

  width: 10px;
  height: 10px;

  background-color: #3f5e72;
  border-radius: 50%;
}

.range-scale {
  position: relative;

  width: 276px;
  height: 4px;
  margin-left: 11px;

  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;

  width: 20px;
  height: 20px;

  background: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:focus {
  outline: 3px solid #83b3d3;
}

.range-toggle:active {
  outline: 2px solid #83b3d3;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.filter-by-price {
  margin: 0;
  margin-right: 70px;
  padding: 0;
  border: none;
}

.filter-type {
  margin-bottom: 34px;
}

.filter-by-price-wrapper {
  position: relative;

  display: flex;
  align-items: center;
  height: 50px;
  margin-top: 4px;
  margin-bottom: 27px;

  border: 2px solid #ffffff;
  border-radius: 4px;
}

.filter-by-price-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;

  width: 2px;
  height: 100%;

  background-color: #ffffff;
  transform: translateX(-50%);
}

.filter-by-price-wrapper input {
  width: 100%;
  padding: 14px 40px 11px 16px;

  font: inherit;
  font-size: 18px;
  color: #ffffff;

  background-color: transparent;
  border: none;
  outline: none;
  opacity: 1;
}

.filter-by-price-wrapper label {
  position: relative;
  display: flex;
  align-items: center;
  color: #ffffff;
  background: inherit;
}

.filter-by-price-wrapper input::-webkit-input-placeholder {
  color: #ffffff;
}

.filter-by-price-wrapper input::-moz-placeholder {
  color: #ffffff;
}

.price-limit {
  position: absolute;
  right: 14px;

  opacity: 30%;
}

.control {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}
.filter-button-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: auto;

}

.button-blue {
  font: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 9px 15px;
  border-radius: 5px;

  color: #FFFFFF;
  background: #82B3D3;

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.button-blue--actions:hover,
.button-blue--actions:focus {
  background-color: #68A2CA;
}

.button-blue--actions:active {
  background-color:#82B3D3;
}

.button-blue--color:active {
  opacity: 0.3;
}

.button-blue--apply {
  align-self: center;
  padding: 14px 15px;
}

.subscribe-button {
  font: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  padding: 12px 35px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  text-align: center;

  color: #FFFFFF;
  background: #82B3D3;

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.button-reset {
  font: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  border: none;
  border-radius: 4px;
  padding: 14px 15px;
  padding-bottom: 0;

  color: #FFFFFF;
  background-color: transparent;

  text-align: center;
  cursor: pointer;
}

.button-reset:hover {
  opacity: 60%;
}

.button-reset:focus,
.button-reset:focus-visible {
  outline: 3px solid #83b3d3;
}

.button-reset:active {
  box-shadow: none;
  opacity: 30%;
}

/*Результаты поиска*/
.search-results {
  color: #000000;
  background-color: #ffffff;
}

.search-results--flex {
  display: flex;
  padding: 0 71px;
  margin-bottom: 57px;

}


.hotels-found {
  margin-right: 190px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;

  color: #000000;
  background-color: #ffffff;


  text-transform: uppercase;
}

.sorting-of-type {
  margin-right: 80px;
}

.button-wrapper {
  display: flex;
  width: 160px;
  justify-content: space-between;
  margin-left: auto;
}

.button-cards {
  width: 48px;
  height: 48px;
  padding: 17px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.button-cards:hover {
  border: 2px solid #000000;
  border-radius: 4px;
}

.button-cards:focus {
  border: 2px solid #68A2CA;
  border-radius: 4px;
}

.button-cards:active {
  border: 2px solid #000000;
  border-radius: 4px;
}


/* .button-curent {
  border: 2px solid #000000;
  border-radius: 4px;
} */

.button-tiles {
  background: url("../images/icon-table.svg") no-repeat center;
}

.button-slideshow {
  background: url("../images/icon-slideshow.svg") no-repeat center;
}

.button-list {
  background: url("../images/icon-list.svg") no-repeat center;
}

/*Карточки товаров*/
.hotel-card-list {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  margin: 0;
  margin-bottom: 66px;
  padding: 0;
  column-gap: 18px;
  justify-content: center;

  list-style-type: none;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-item {
  width: 340px;
  padding: 20px;
}

.hotel-card-title {
  margin: 0;
  margin-top: 16px;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.in-card-info {
  display: flex;
  justify-content: space-between;
}

.in-card-info-first-column {
  display: flex;
  flex-direction: column;
}

.in-card-second-column {
  display: flex;
  flex-direction: column;
}



.hotel-type-in-card {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: #333333;
}

.hotel-info {
  margin-bottom: 16px;
}

.stars::before {
  content: "";
  position: absolute;
  width: 18px;
  height: 17px;
  background-image: url(../images/star.svg);
  background-repeat: repeat;
}

.four-stars::before {
  width: 70px;
}

.three-stars::before {
  width: 55px;
}

.two-stars::before {
  width: 36px;
}

.button-brown {
  font: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 9px 15px;
  border-radius: 5px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background: #756157;
  border: none;
  cursor: pointer;
}

.button-brown--actions:hover,
.button-brown--actions:focus {
  background-color: #615048;
}

.button-brown--actions:active {
  background-color:#756157;
}

.button-brown--color:active {
  opacity: 0.3;
}

.hotel-price {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: #333333;
}

.hotel-liked {
  margin-bottom: 16px;
}

.hotel-rating {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  color: #333333;
}

.button-green {
  font: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 9px 15px;
  border-radius: 5px;

  color: #FFFFFF;
  background: #7DB54F;
  border-radius: 4px;

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.button-green--actions:hover,
.button-green--actions:focus {
  background-color: #6C9E42;
}

.button-green--actions:active {
  background-color:#7DB54F;
}

.button-green--color:active {
  opacity: 0.3;
}

/*Пагинация*/
.pagination-wrapper {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #E6E6E6;
  padding: 0 70px;
  max-width: 1056px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  width: 370px;
  margin: 0;
  margin-top: 30px;
  padding: 0;
  list-style: none;
  background-color: #FFFFFF;
}


.pagination-link {
  display: block;
  box-sizing: border-box;
  width: 55px;
  height: 55px;
  padding: 8px 9px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  border-radius: 4px;

  color: #FFFFFF;
  background-color: #82B3D3;

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}


.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.number-of-hotels {
  margin-left: auto;
  width: 386px;
}

.number-of-hotels-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: #333333;
}

/*Подписка на рассылку*/

.subscribe {
  padding: 94px 100px;
}

.catalog-subscribe {
  color: #000000;
  background-image: none;
  background-color: #FFFFFF;
}

.subscribe-description--catalog {
  color: #333333;
}
